{% extends 'core/base.html' %}
{% block title %}Database Dashboard{% endblock %}

{% block content %}
    <h1 class="mb-4">Database Tables</h1>
    <ul class="list-group mb-3">
        {% for table in tables %}
            <li class="list-group-item">
                <a href="{% url 'table_crud' table %}">{{ table }}</a>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary mb-4" href="{% url 'run_query' %}">Run SQL Query</a>

    {% if tables_data %}
        {% for table_data in tables_data %}
            <h2 class="mt-4">🧾 {{ table_data.table }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Column Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in table_data.columns %}
                            <tr>
                                <td>{{ column }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td><i>No columns found</i></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}