# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.mo
*.swp
media/
staticfiles/

# React (frontend)
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Coverage and testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Codespaces
*.code-workspace
.devcontainer/

# Others
*.bak
*.tmp
*.log
